.realtedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 120vh;
}
.realtedproducts h1{
    font-size: 50px;
    font-weight: 600;
}
.realtedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: rgb(215, 130, 9);

}
.relatedproducts-item{
   display: flex;
    gap: 200px;
    padding-top: 40px;
    padding-right: 100px;
    
   
}